{% extends "lcc-template.html" %}{% block body_content %}
{% block placeholdersectionOneTop %}{% endblock %}
<section id="main" class="sectionOne">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                {% block placeholdersectionOneFull %}{% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                {% block breadcrumb %}{% endblock %} 
                {% block header %}{% endblock %} 
                {% block placeholdersectionOneContent %}{% endblock %}
            </div>
            <div class="col-md-4">
                  {% block placeholdersectionOneRightHandColumn %}{% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                {% block placeholdersectionOneFullBottom %}{% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
               {% block placeholdersectionOneThirdCol1 %}{% endblock %}
            </div>
            <div class="col-md-4">
                {% block placeholdersectionOneThirdCol2 %}{% endblock %}
            </div>
            <div class="col-md-4">
               {% block placeholdersectionOneThirdCol3 %}{% endblock %}
            </div>
        </div>
    </div>
    </div>
</section>
{% block placeholdersectionTwoTop %}{% endblock %}
<section class="sectionTwo" id="sectionTwo">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
               {% block placeholdersectionTwoFull %}{% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
             {% block placeholdersectionTwoContent %}{% endblock %}
            </div>
            <div class="col-md-4">
               {% block placeholdersectionTwoRightHandColumn %}{% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
               {% block placeholdersectionTwoThirdCol1 %}{% endblock %}
            </div>
            <div class="col-md-4">
               {% block placeholdersectionTwoThirdCol2 %}{% endblock %}
            </div>
            <div class="col-md-4">
              {% block placeholdersectionTwoThirdCol3 %}{% endblock %}
            </div>
        </div>
    </div>
</section>
{% block placeholdersectionThreeTop %}{% endblock %}
<section class="sectionThree" id="sectionThree">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
              {% block placeholdersectionThreeFull %}{% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
             {% block placeholdersectionThreeContent %}{% endblock %}
            </div>
            <div class="col-md-4">
           {% block placeholdersectionThreeRightHandColumn %}{% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
               {% block placeholdersectionThreeThirdCol1 %}{% endblock %}
            </div>
            <div class="col-md-4">
               {% block placeholdersectionThreeThirdCol2 %}{% endblock %}
            </div>
            <div class="col-md-4">
               {% block placeholdersectionThreeThirdCol3 %}{% endblock %}
            </div>
        </div>
    </div>
</section>
{% block placeholdersectionFourTop %}{% endblock %}
<section class="sectionFour" id="sectionFour">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
               {% block placeholdersectionFourFull %}{% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
             {% block placeholdersectionFourContent %}{% endblock %}

            </div>
            <div class="col-md-4">
               {% block placeholdersectionFourRightHandColumn %}{% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
               {% block placeholdersectionFourThirdCol1 %}{% endblock %}
            </div>
            <div class="col-md-4">
                {% block placeholdersectionFourThirdCol2 %}{% endblock %}
            </div>
            <div class="col-md-4">
               {% block placeholdersectionFourThirdCol3 %}{% endblock %}
            </div>
        </div>
    </div>
</section>
{% block placeholdersectionFiveTop %}{% endblock %}
<section class="sectionFive" id="sectionFive">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
              {% block placeholdersectionFiveFull %}{% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
              {% block placeholdersectionFiveContent %}{% endblock %}
            </div>
            <div class="col-md-4">
              {% block placeholdersectionFiveRightHandColumn %}{% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
             {% block placeholdersectionFiveThirdCol1 %}{% endblock %}
            </div>
            <div class="col-md-4">
              {% block placeholdersectionFiveThirdCol1 %}{% endblock %}
            </div>
            <div class="col-md-4">
            {% block placeholdersectionFiveThirdCol1 %}{% endblock %}
            </div>
        </div>
    </div>
</section>
{% endblock %}