{% extends "lcc-template.html" %}{% block body_content %}
{% block placeholder-1 %}{% endblock %}
<section id="main" class="sectionOne">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                {% block placeholder-2 %}{% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                {% block breadcrumb %}{% endblock %} 
                {% block header %}{% endblock %} 
                {% block placeholder-3 %}{% endblock %}
            </div>
            <div class="col-md-4">
                  {% block placeholder-4 %}{% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                {% block placeholder-5 %}{% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
               {% block placeholder-6 %}{% endblock %}
            </div>
            <div class="col-md-4">
                {% block placeholder-7 %}{% endblock %}
            </div>
            <div class="col-md-4">
               {% block placeholder-8 %}{% endblock %}
            </div>
        </div>
    </div>
    </div>
</section>
{% block placeholder-9 %}{% endblock %}
<section class="sectionTwo" id="sectionTwo">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
               {% block placeholder-10 %}{% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
             {% block placeholder-11 %}{% endblock %}
            </div>
            <div class="col-md-4">
               {% block placeholder-12 %}{% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
               {% block placeholder-13 %}{% endblock %}
            </div>
            <div class="col-md-4">
               {% block placeholder-14 %}{% endblock %}
            </div>
            <div class="col-md-4">
              {% block placeholder-15 %}{% endblock %}
            </div>
        </div>
    </div>
</section>
{% block placeholder-16 %}{% endblock %}
<section class="sectionThree" id="sectionThree">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
              {% block placeholder-17 %}{% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
             {% block placeholder-18 %}{% endblock %}
            </div>
            <div class="col-md-4">
           {% block placeholder-19 %}{% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
               {% block placeholder-20 %}{% endblock %}
            </div>
            <div class="col-md-4">
               {% block placeholder-21 %}{% endblock %}
            </div>
            <div class="col-md-4">
               {% block placeholder-22 %}{% endblock %}
            </div>
        </div>
    </div>
</section>
{% block placeholder-23 %}{% endblock %}
<section class="sectionFour" id="sectionFour">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
               {% block placeholder-24 %}{% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
             {% block placeholder-25 %}{% endblock %}

            </div>
            <div class="col-md-4">
               {% block placeholder-26 %}{% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
               {% block placeholder-27 %}{% endblock %}
            </div>
            <div class="col-md-4">
                {% block placeholder-28 %}{% endblock %}
            </div>
            <div class="col-md-4">
               {% block placeholder-29 %}{% endblock %}
            </div>
        </div>
    </div>
</section>
{% block placeholder-30 %}{% endblock %}
<section class="sectionFive" id="sectionFive">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
              {% block placeholder-31 %}{% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
              {% block placeholder-32 %}{% endblock %}
            </div>
            <div class="col-md-4">
              {% block placeholder-33 %}{% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
             {% block placeholder-34 %}{% endblock %}
            </div>
            <div class="col-md-4">
              {% block placeholder-35 %}{% endblock %}
            </div>
            <div class="col-md-4">
            {% block placeholder-36 %}{% endblock %}
            </div>
        </div>
    </div>
</section>
{% endblock %}