{% extends "lcc-template.html" %}{% block body_content %}
{% block placeholder1 %}{% endblock %}
<section id="main" class="sectionOne">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                {% block placeholder2 %}{% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                {% block breadcrumb %}{% endblock %} 
                {% block header %}{% endblock %} 
                {% block placeholder3 %}{% endblock %}
            </div>
            <div class="col-md-4">
                  {% block placeholder4 %}{% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                {% block placeholder5 %}{% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
               {% block placeholder6 %}{% endblock %}
            </div>
            <div class="col-md-4">
                {% block placeholder7 %}{% endblock %}
            </div>
            <div class="col-md-4">
               {% block placeholder8 %}{% endblock %}
            </div>
        </div>
    </div>
    </div>
</section>
{% block placeholder9 %}{% endblock %}
<section class="sectionTwo" id="sectionTwo">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
               {% block placeholder10 %}{% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
             {% block placeholder11 %}{% endblock %}
            </div>
            <div class="col-md-4">
               {% block placeholder12 %}{% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
               {% block placeholder13 %}{% endblock %}
            </div>
            <div class="col-md-4">
               {% block placeholder14 %}{% endblock %}
            </div>
            <div class="col-md-4">
              {% block placeholder15 %}{% endblock %}
            </div>
        </div>
    </div>
</section>
{% block placeholder16 %}{% endblock %}
<section class="sectionThree" id="sectionThree">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
              {% block placeholder17 %}{% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
             {% block placeholder18 %}{% endblock %}
            </div>
            <div class="col-md-4">
           {% block placeholder19 %}{% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
               {% block placeholder20 %}{% endblock %}
            </div>
            <div class="col-md-4">
               {% block placeholder21 %}{% endblock %}
            </div>
            <div class="col-md-4">
               {% block placeholder22 %}{% endblock %}
            </div>
        </div>
    </div>
</section>
{% block placeholder23 %}{% endblock %}
<section class="sectionFour" id="sectionFour">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
               {% block placeholder24 %}{% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
             {% block placeholder25 %}{% endblock %}

            </div>
            <div class="col-md-4">
               {% block placeholder26 %}{% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
               {% block placeholder27 %}{% endblock %}
            </div>
            <div class="col-md-4">
                {% block placeholder28 %}{% endblock %}
            </div>
            <div class="col-md-4">
               {% block placeholder29 %}{% endblock %}
            </div>
        </div>
    </div>
</section>
{% block placeholder30 %}{% endblock %}
<section class="sectionFive" id="sectionFive">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
              {% block placeholder31 %}{% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
              {% block placeholder32 %}{% endblock %}
            </div>
            <div class="col-md-4">
              {% block placeholder33 %}{% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
             {% block placeholder34 %}{% endblock %}
            </div>
            <div class="col-md-4">
              {% block placeholder35 %}{% endblock %}
            </div>
            <div class="col-md-4">
            {% block placeholder36 %}{% endblock %}
            </div>
        </div>
    </div>
</section>
{% endblock %}